In [44]:
import pymysql
cnx = pymysql.connect(user='root', password='Mb235957', host='localhost', database='sakila')
cursor = cnx.cursor()
query = 'SELECT actor.actor_id, actor.first_name AS "First", actor.last_name AS "Last", COUNT(film_id) AS "Film Count" FROM actor INNER JOIN film_actor ON film_actor.actor_id=actor.actor_id GROUP BY actor.actor_id ORDER BY COUNT(film_id) DESC LIMIT 5;'
cursor.execute(query)
results = cursor.fetchall()
cursor.close()
cnx.close()

results = [list(row) for row in results]
for i in range(len(results)):
  results[i][1] = results[i][1].title()
  results[i][2] = results[i][2].title()
print(results)

[[107, 'Gina', 'Degeneres', 42], [102, 'Walter', 'Torn', 41], [198, 'Mary', 'Keitel', 40], [181, 'Matthew', 'Carrey', 39], [23, 'Sandra', 'Kilmer', 37]]